@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 20px;
  left: -685px;
  width: 700px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  color: #333;
  padding: 20px;
}

.slide .content h2 {
  margin-bottom: 10px;
}

.slide.active .content {
  opacity: 1;
  transform: translateX(700px);
  transition: all 0.7s ease-in-out 0.3s;
}

.cta {
  color: rgb(233, 94, 94);
  margin-bottom: 10px;
}

.ctabtn {
  padding: 10px 30px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 14px;
  background: transparent;
  color: #333;
}

.ctabtn span {
  color: rgb(233, 94, 94);
  cursor: pointer;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 5px;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

/* media query */
@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.active .content {
    transform: translateY(-300px);
    text-align: center;
  }
}


/* background images */
.slide:first-child{
  background: url('./vr/037_prop1a.PNG') no-repeat center center/cover;
}
.slide:nth-child(2){
  background: url('./vr/037_prop1b.PNG') no-repeat center top/cover;
}
.slide:nth-child(3){
  background: url('./vr/038_prop2a.PNG') no-repeat center top/cover;
}
.slide:nth-child(4){
  background: url('./vr/038_prop2b.PNG') no-repeat center top/cover;
}
.slide:nth-child(5){
  background: url('./vr/042_exerc4c.PNG') no-repeat center top/cover;
}
