figcaption {
  margin-top:-5px;
  background: rgba(21,153,87,0.12);
  padding: 5px;
  border-radius: 7px;
  font-size: 14px;
}
summary {
  font-size: 21px;
  color: #159957;
  font-weight: bold;
  cursor: pointer;
}
details {
  border: 1px solid #a2dec0;
  border-bottom: none;
  padding: 3px;
  border-radius: 7px;
}
h3 {
  font-size: 19px;
}

.slider {
     display: block;
     height: 400px;
     width: 100%;
     margin: auto;
     position: relative;
 }

 .slider li {
     list-style: none;
     position: absolute;
 }

 .slider img {
     margin: auto;
     height: 100%;
     width: 100%;
     vertical-align: top;
 }
.slider input {
    display: none;
}
 .slider label {
     background-color: #000;
     bottom: 10px;
     cursor: pointer;
     display: block;
     height: 10px;
     position: absolute;
     width: 10px;
     z-index: 10;
 }

 .slider li:nth-child(1) label {
     left: 10px;
 }

 .slider li:nth-child(2) label {
     left: 40px;
 }

 .slider li:nth-child(3) label {
     left: 70px;
 }
 
 .slider li:nth-child(4) label {
     left: 100px;
 }
 
.slider li:nth-child(5) label {
     left: 130px;
 }

 .slider img, figcaption {
     opacity: 0;
     visibility: hidden;
     transition: opacity .5s linear;
 }

 .slider li input:checked ~ img, ~figcaption {
     opacity: 1;
     transition: opacity .5s linear;
     visibility: visible;
     z-index: 10;
 }

